/* Ensure the app takes up the full height of the viewport */
.app {
  display: flex;
  height: 100vh; /* Full viewport height */
  flex-direction: row; /* Sidebar and content in a row */
}




/* Main content styles */
.main {
  flex: 1; /* Take up the remaining space */
  margin-left: 250px; /* Offset the content to the right of the sidebar */
  
  overflow: auto; /* Allow scrolling if content overflows */
}

/* Style the customer table */
.customer-table {
  width: 100%;
  border-collapse: collapse;
}

.customer-table th, .customer-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.customer-table th {
  background-color: #f4f4f4;
}
.icons-font{
  margin-left: 300px;
  display: flex;
  gap: 15px;
}
/* Pagination styles */

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Adds space between elements */
  margin-top: 20px;
}

.page-arrow {
  font-size: 40px;
  cursor: pointer;
  
  text-decoration: none;
}

.page-arrow.disabled {
  color: gray;
  cursor: not-allowed;
}

.page-numbers {
  display: flex;
  gap: 5px; /* Space between page numbers */
}

.page-btn {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #007bff;
}

.page-btn.active {
  font-weight: bold;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #e7f3ff;
}

.page-btn:hover:not(.active) {
  background-color: #f0f0f0;
}



/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .app {
    flex-direction: column; 
  }

  

  .main {
    margin-left: 0; /* Remove left margin */
    padding-left: 0;
  }

  .customer-table {
    width: 100%;
  }
}


.name-with-circle {
  display: flex;
  align-items: center;
}

.circle {
  width: 50px;
  font-size:30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: grey;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
.same{
display: flex;
  gap:100px;
  align-items: center; /* Align items vertically in the center */
  padding: 20px;
  
  }



.filter-dropdown {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.icon-btn{
background:none;
border-color:white;
color:blue;

}






